{% set image = block.image.first() %}

{% if image %}
    {% switch block.imageType %}
    {% case "normal" %}
        <section class="mb-5">
        <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10">
    {% case "fullWidth" %}
        <section class="mb-5">
        <div class="row">
        <div class="col-xs-12">
    {% case "infographic" %}
        <section class="mb-5">
        <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10">
    {% endswitch %}
    <div>

        {% switch block.imageType %}
        {% case "normal" %}
            <figure class="mb-3">
                {% set transformedImages = craft.imager.transformImage(image, [
                    { width: 1200, ratio: 2/1, jpegQuality: 75 },
                    { width: 1024, ratio: 2/1, jpegQuality: 75 },
                    { width: 768, ratio: 4/3, jpegQuality: 60 },
                ],{ format: 'jpg', allowUpscale: false, mode: 'crop', position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%', interlace: true }) %}
                {% if lazyImage %}
                    <img class="img-fluid lazyload" src="{{ craft.imager.base64Pixel(2,1) }}" data-sizes="100vw"
                         data-srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ image.title }}"
                         height="auto" width="100%">
                {% else %}
                    <img class="img-fluid" src="{{ transformedImages[1].url }}" sizes="100vw"
                         srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ image.title }}" height="auto"
                         width="100%">
                {% endif %}
            </figure>
            {% if block.description |length %}
                <div class="blog-image-caption">{{ block.description |typogrify }}</div>
            {% endif %}
        {% case "fullWidth" %}
            <figure class="mb-3">
                {% set transformedImages = craft.imager.transformImage(image, [
                    { width: 1200, ratio: 2/1, jpegQuality: 75 },
                    { width: 1024, ratio: 2/1, jpegQuality: 75 },
                    { width: 768, ratio: 4/3, jpegQuality: 60 },
                ],{ format: 'jpg', allowUpscale: false, mode: 'crop', position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%', interlace: true }) %}
                {% if lazyImage %}
                    <img class="img-fluid lazyload" src="{{ craft.imager.base64Pixel(2,1) }}" data-sizes="100vw"
                         data-srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ image.title }}"
                         height="auto" width="100%">
                {% else %}
                    <img class="img-fluid" src="{{ transformedImages[1].url }}" sizes="100vw"
                         srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ image.title }}" height="auto"
                         width="100%">
                {% endif %}
            </figure>
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-10">
                    {% if block.description |length %}
                        <div class="blog-image-caption">{{ block.description |typogrify }}</div>
                    {% endif %}
                </div>
            </div>


        {% case "infographic" %}
            <figure class="mb-3">
                {% if lazyImage %}
                    <img class="img-fluid lazyload"
                         src="{{ craft.imager.base64Pixel(image.width, image.height) }}" data-src="{{ image.url }}"
                         alt="{{ image.title }}" height="{{ image.height }}" width="{{ image.width }}">
                {% else %}
                    <img class="img-fluid" src="{{ image.url }}" alt="{{ image.title }}"
                         height="{{ image.height }}" width="{{ image.width }}">
                {% endif %}
            </figure>
            {% if block.description |length %}
                <div class="blog-image-caption">{{ block.description |typogrify }}</div>
            {% endif %}
        {% endswitch %}

    </div>
    </div>
    </div>
    </section>
{% endif %}