{% extends "_layout" %}
{% block _inline_css %}
    <style>
        {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}
    {% include "_includes/heading-wrap.twig" %}

    <section class="main-content section">
        <div class="container">
            <article class="blog-content">
                <div class="row">
                    {% set image = entry.featuredBlogImage %}
                    {% if image|length %}
                    {% set transformedImages = craft.imager.transformImage(image,
                        [
                            { width: 1200, ratio: 4/2 },
                            { width: 1024, ratio: 4/2 },
                            { width: 768, ratio: 3/2, jpegQuality: 65 },
                        ],
                        {
                            format: 'jpg',
                            allowUpscale: true,
                            mode: 'crop',
                            jpegQuality: 80,
                            interlace: true
                        }
                        ) %}


                    <div class="col-md-12">
                        <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
                        <img class="img-fluid mb-5"
                             src="{{ transformedImages[1].url }}"
                             sizes="100vw"
                             srcset="{{ craft.imager.srcset(transformedImages) }}"
                             alt="{{ image.title }}">
                    </div>
                    {% endif %}
                </div>
                <div class="row justify-content-center mb-5">
                    <div class="col-md-10">
                        {{ entry.body }}
                    </div>
                </div>
                {% set lazyImage = false %}
                {% for block in entry.blogContent %}
                    {% include ('blog/_partials/_' ~ 'block_' ~ block.type.handle) %}
                    {% if block.type.handle == "image" %}
                        {% set lazyImage = true %}
                    {% endif %}
                {% endfor %}
            </article>
            <div class="row related-content">
                <div class="col-md-4">
                    <h4>Birds Mentioned</h4>
                    <hr>
                    {% if entry.relatedBirds is not empty %}
                    <ul>
                        {% for entry in entry.relatedBirds %}
                            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        None of Daisy's Place's birds are mentioned in this post.
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h4>You may also like</h4>
                    <hr>
                    <ul>
                        {% for entry in craft.entries.section('blog').order('RAND()').limit(5) %}
                            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Most Recent</h4>
                    <hr>
                    <ul>
                        {% for entry in craft.entries.section('blog').limit(5) %}
                            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
